html {
  background-color: rgb(240, 234, 176);
} 
h1 {
  font-size: 24pt;
  color: rgb(211, 211, 211);
  background-color: rgb(116, 115, 115);
}
p {
  color: rgb(68, 68, 68);
  font-size: 14pt;
}




